/*****Base*****/

html
{
    height: 100%;
    background-color: #96f98b;
}

body
{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    min-height: 100%;
    position: relative;
    color: #242424;
}

.header-forms
{
	display: none;
}

canvas
{
	border: 1px black solid;
}

input, textarea
{
    font-size: 1em;
}

h1, h2
{
    text-align: center;
    color: black;
}

h3
{
    color: #f38320;
    font-size: 1.4em;
    font-weight: bold;
}

a
{
    text-decoration: none;
    color: #f38320;
}

a:hover
{
    color: #aa5409;
}

ul, li
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.grid
{
    width: 70%;
    margin: auto;
}

.menu-burger
{
    display: none;
}

.btn
{
	border: none;
	background-color: #f38320;
	font-size: 0.9em;
	padding: 5px;
	border-radius: 3px;
	color: white;
	cursor: pointer;
}

.btn:hover
{
	background-color: #aa5409;
}

.btn:active
{
	transform: scale(0.98);
}

.last-section
{
	padding-bottom: 80px;
}

.like-btn, .dislike-btn
{
	background-color: rgba(0,0,0,0);
	border: none;
	height: 30px;
	font-size: 1em;
	cursor: pointer;
	padding: 0;
	color: #242424;
}

.grid-like-btn
{
	margin-bottom: 20px;
	font-size: 1.2em;
}

.like-btn:hover
{
	color: #42b0ff;
}

.dislike-btn:hover
{
	color: red;
}

.blue
{
	color: #42b0ff;
}

.red
{
	color: red;
}

.orange
{
	color: #f38320;
}

/*****header*****/

header
{
	background-color: white;
}

.header-head
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.logo
{
	height: 50px;
}

.menu
{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 50px;
	background-color: white;
	position: relative;
}

.menu-item
{
	margin-left: 25px;
	color: #42f42f;
}

.menu-item:hover
{
    color: #169608;
}

.login-btn
{
	color: white;
}

.login-btn:hover
{
	color: white;
}

#user-login, #user-password
{
	width: 120px;
}

#forgotten-btn
{
	background-color: white;
	color: #f38320;
	font-size: 1em;
	border: none;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}

#forgotten-btn:hover
{
	color: #aa5409;
}

.header-forms 
{
	height: 50px;
	align-items: center;
	justify-content: flex-end;
}

.header-forms-item
{
	margin-left: 15px;
}

.login-error
{
	color: #f38320;
	width: 350px;
	text-align: right;
	margin: 0 auto;
}


/*****footer*****/

footer
{
	background-color: white;
	height: 30px;
	display: flex;
	align-items: center;
	position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content
{
	text-align: center;
}

footer a
{
	color: #42f42f;
}

footer a:hover
{
	color: #169608;
}


/*****Jeu*****/

#canvas
{
	margin-bottom: 10px;
}

.game
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.command
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.command-input
{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.command-input label
{
	transform: translateY(3px);
}

.command-input-item
{
	width: 40px;
	margin-left: 7px;
	margin-right: 7px;
}

.save-btn
{
	margin-top: 10px;
}

.speed-selector
{
	color: #f38320;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.speed-selector label
{
	transform: translateY(10px);
}

#grid-json
{
	display: none;
}

.comment-section
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.comment
{
	border-radius: 3px;
	background-color: white;
	margin: 5px auto;
	padding: 10px;
	width: 70%;
}

.comment p:first-child
{
	margin-top: 0;
}

.comment-form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	margin-bottom: 15px;
}

#comment-content
{
	width: 100%;
}

.comment-form label
{
	display: block;
}

.comment-form .btn
{
	align-self: flex-start;
	margin-top: 7px;
}

.comments-title
{
	margin-top: 0;
}

/*****Grids view*****/

.grids-view
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grids-sort
{
	display: flex;
	margin-bottom: 20px;
}

.grids-sort li:first-child
{
	margin-right: 30px;
}

.grids-title
{
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 30px; 
}

.artwork
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}